@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("../navbar/common.css");

h4:hover {
  background-color: #fff;
  cursor: pointer;
}
.box {
  display: flex;
  align-items: center;
  margin: 10px;
}
.box li.search-box {
  border-radius: 30px;
  border: 1px solid gray;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
.box li.search-box input {
  height: 100%;
  outline: none;
  border: none;
  padding: 12px;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.box li {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

/* MyTableComponent.css */

.my-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.my-table th {
  background-color: #3f9dd8;
}

.my-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.my-table tbody tr:hover {
  background-color: #e0e0e0;
}
