
.card1{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    height: 150px;
  display: flex;
  justify-content: space-between;
}
.my-table {
    border-collapse: collapse;
  }
  
  .my-table th, .my-table td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  .my-table th {
    background-color: #f2f2f2;
    color:#000
  }
  
  .pagination {
  text-align: center;
  margin: 10px;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
  
  .pagination button:hover {
    background-color: #45a049;
  }
  

  
@media screen and (max-width: 768px) {
    .card-view-title{
        width: 100%;
    }
    .select-users{
        width: 100%;
    }
    .reportcard{
        flex-direction: column;
       
    }
    .card1{
        width: 100%;
    }
    .tasktable-container{
        flex-direction: column;
    }
    .table-container,.chart{
        width: 100%;
    }
    .my-table{
        width: 100%;
    }
    
    
   
}