.custom-scroll::-webkit-scrollbar {
  /* width: 8px;
    margin-top: 20px; */
  display: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 80px;
  border: 1px solid #ccc;
  background-color: rgb(184, 182, 182);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: none;
  background-color: rgb(147, 145, 145);
}

/*  */
.custom-scroll-second::-webkit-scrollbar {
  height: 8px;
  margin-top: 20px;
}

.custom-scroll-second::-webkit-scrollbar-thumb {
  border-radius: 80px;
  border: 1px solid #ccc;
  background-color: rgb(184, 182, 182);
}

.custom-scroll-second::-webkit-scrollbar-thumb:hover {
  border: none;
  background-color: rgb(147, 145, 145);
}
.user-card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pipeline-main::-webkit-scrollbar {
  display: none;
}
