table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

table th,
table td {
  text-align: center;
  border: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2daacd;
  color: white;
}
table td {
  margin: 10px;
  text-align: center;
}



/* tag sidebar from right */
.create-tag {
    position: absolute;
    top: 0;
    right: -66.66%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
  }
  .tag-open {
    right: 0;
  }
  .create-tag .tag_header_title {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: rgb(243, 243, 243);
    padding: 15px;
  }
  .tag-input .tag-input-box {
    height: 40px;
    padding: 8px;
    border: 2px solid gray;
    font-size: 15px;
    border-radius: 10px;
  }
  .tag-input .tag-input-box:hover {
    border: 2px solid blue;
  }
  .tag-buttons .save-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: blue;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }
  .tag-buttons .save-btn button:hover {
    background: rgb(9, 9, 144);
  }
  .tag-buttons .cancle-btn button {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    font-size: 15px;
    color: blue;
    background: none;
    cursor: pointer;
  }
  
