/* .card_db {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  height: 100%;
display: flex;
justify-content: space-between;
}


.card_db h2 {
  color: #747264;
}
.card_db h3 {
  color: #747264;
}

.card_db p {
  color: #666;
  margin-top: 10px;
  font-weight: 700;
}

 */
